aiohttp==3.8.3
aiosignal==1.2.0
anyio==3.6.2
async-timeout==4.0.2
attrs==22.1.0
charset-normalizer==2.1.1
click==8.1.3
Deprecated==1.2.13
fastapi==0.86.0
frozenlist==1.3.1
h11==0.14.0
idna==3.4
multidict==6.0.2
packaging==21.3
pydantic==1.10.2
pyparsing==3.0.9
redis==4.3.4
sniffio==1.3.0
starlette==0.20.4
typing_extensions==4.4.0
uvicorn==0.19.0
wrapt==1.14.1
yarl==1.8.1
python-multipart
